<!-- inherit from base.html -->
{% extends "cs3300_project/base_template.html" %}

<!-- Replace block content in base_template.html -->
{% block content %}
<h1 class="text-3xl font-semibold text-gray-600 mb-2">Account Page</h1>
<p class="text-gray-600"><strong>Username:</strong> {{ player.username }}</p>
<p class="text-gray-600"><strong>Summary:</strong> {{ player.summary }}</p>
<p class="text-gray-600 mb-4">
  <strong>Amount of clips:</strong> Work in progress
</p>

<a
  class="btn btn-accent"
  href="{% url 'update_player' player.id %}"
  role="button"
  >Update Account</a
>
<a href="{% url 'logout'%}" class="btn btn-secondary">Logout</a>

{% endblock %}
