{% extends 'cs3300_project/base_template.html' %} {% block content %}
<h1>Clip Title: {{ clip.title }}</h1>

<p><strong>Game:</strong> {{ clip.game }}</p>
<p><strong>Description:</strong> {{ clip.description }}</p>
<p><strong>User:</strong> {{ clip.user }}</p>

<!-- Update button -->
<p>
  <a
    class="btn btn-accent"
    href="{% url 'update_clip' clip.user.id clip.id %}"
    role="button"
    >Update</a
  >

  <!-- Delete button -->
  <a
    class="btn btn-secondary"
    href="{% url 'delete_clip' clip.user.id clip.id %}"
    role="button"
    >Delete</a
  >
</p>
<p>{% endblock %}</p>
