<!-- inherit from base.html -->
{% extends "cs3300_project/base_template.html" %} {% load static %}

<!-- Replace block content in base_template.html -->
{% block content %}
<div class="flex justify-between items-center mb-1">
  <h1 class="text-3xl font-semibold text-gray-600 mb-5">Your Clips</h1>
  <!-- Give the user the oppurtunity to create a clip -->
  <a
    class="btn btn-primary"
    href="{% url 'create_clip' player.id %}"
    role="button"
    >Create Clip</a
  >
</div>

<!-- Show the user all the clips they have created, if they have any -->
{% if clip_list %}
<div class="flex flex-wrap ml-2">
  {% for clip in clip_list %}

  <div
    class="card bg-white mb-6 mr-6 card-compact shadow-lg"
    style="width: 325px"
  >
    <!-- Insert random image here -->
    <figure>
      <img src="{% static 'images/Valorant.jpg' %}" alt="Valorant Logo" />
    </figure>

    <!-- Title, game name, and clip.description -->
    <div class="card-body">
      <h2 class="card-title font-semibold text-gray-600">{{ clip.title }}</h2>
      <p class="text-gray-600 text-md">
        Game: {{ clip.game }}<br />{{ clip.description }}
      </p>

      <!-- Add a button so the user can access the details of the clips -->
      <a href="{{ clip.get_absolute_url }}" class="btn btn-accent mt-2"
        >Details</a
      >
    </div>
  </div>

  {% endfor %}
</div>

{% else %}
<p class="text-gray-600">You have created no clips</p>

{% endif %} {% endblock %}
