<!-- inherit from base.html -->
{% extends "cs3300_project/base_template.html" %}

<!-- Replace block content in base_template.html -->
{% block content %}
<h1>login</h1>
<div class="d-flex justify-content-center form_container">
  <form method="POST" action="">
    {% csrf_token %}
    <p>
      username
      <input
        type="text"
        name="username"
        placeholder="Username..."
        class="form-control"
      />
    </p>
    <p>
      password
      <input
        type="password"
        name="password"
        placeholder="Password..."
        class="form-control"
      />
    </p>

    <input class="btn btn-primary" type="submit" value="Login" />
  </form>

  <!-- If the user doesn't have an account -->
  <p>
    Don't have an account?
    <a href="{% url 'register' %}">Register</a>
  </p>
</div>

{% endblock %}

<h3>Login Page</h3>

<form method="POST" action="">
  {% csrf_token %} {{ form.username.label_tag }} {{ form.username }} {{
  form.password.label_tag }} {{ form.password }}

  <!-- display success message if user was able to create an account -->
  {% for message in messages %}
  <p>{{ message }}</p>
  {% endfor %}

  <!-- If the user doesn't have an account -->
  <p>
    Don't have an account?
    <a href="{% url 'register' %}">Register</a>
  </p>
  <input type="submit" name="Login User" />
</form>
