{% extends 'cs3300_project/base_template.html' %} {% block content %}

<h1>Register</h1>

<form method="POST" action="">
  {% csrf_token %} {{form.username.label}} {{form.username}}
  {{form.email.label}} {{form.email}} {{form.password1.label}}
  {{form.password1}} {{form.password2.label}} {{form.password2}}

  <!-- Form errors -->

  <!-- If user already has an account -->
  <p>
    Already have an account?
    <a href="{% url 'login' %}">Log in</a>
  </p>
  <input type="submit" name="Create User" />
</form>

{% endblock %}
